

body{


    background: #5C7DBB;}
    
    h1{
      position: absolute;
    width: 408px;
    height: 48px;
    left: 104px;
    top: 89px;
    font-family: 'JejuGothic';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 43px;
    
    color: #FFFFFF;
    }
    
    .first{
    
      position: absolute;
    width: 242px;
    height: 29px;
    left: 46px;
    top: 236px;
    border: none;
    background:#FFFFFF;
    border-radius: 40px;
    color: #5C7DBB;
    }
    
    #first{
      position: absolute;
    width: 77px;
    height: 17px;
    left: 69px;
    top: 208px;
    font-family: 'JejuGothic';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    color: #D9D9D9;
    border: none;
    }
      
    .last{
      position: absolute;
    width: 242px;
    height: 29px;
    left: 326px;
    top: 236px;
    border:none;
    background: #FFFFFF;
    border-radius: 40px;
    color: #5C7DBB;
    }
    
    
    #last{
      position: absolute;
    width: 76px;
    height: 17px;
    left: 336px;
    top: 205px;
     border: none;
    font-family: 'JejuGothic';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    
    color: #D9D9D9;
    }
    
    .Street{
      position: absolute;
    width: 522px;
    height: 36px;
    left: 46px;
    top: 318px;
    border:none;
    background: #FFFFFF;
    border-radius: 40px;
    color: #5C7DBB;
    }
    
    #Street{
      position: absolute;
    width: 108px;
    height: 17px;
    left: 69px;
    top: 293px;
    
    font-family: 'JejuGothic';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    
    color: #D9D9D9;
    
    }
    
    .town{
      position: absolute;
    width: 266px;
    height: 35px;
    left: 45px;
    top: 393px;
    border:none;
    background: #FFFFFF;
    border-radius: 40px;
    border:none;
    color: #5C7DBB;
    }
    
    #town{
      position: absolute;
    width: 74px;
    height: 17px;
    left: 69px;
    top: 374px;
    
    font-family: 'JejuGothic';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    
    color: #D9D9D9;
    }
    .state{
      position: absolute;
    width: 110px;
    height: 35px;
    left: 329px;
    top: 393px;
    border:none;
    background: #FFFFFF;
    border-radius: 40px;
    color: #5C7DBB;
    }
    #State{
      position: absolute;
    width: 38px;
    height: 17px;
    left: 365px;
    top: 371px;
    
    font-family: 'JejuGothic';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    
    color: #D9D9D9;
    }
    
    .pin{
      position: absolute;
    width: 110px;
    height: 35px;
    left: 457px;
    top: 393px;
    border:none;
    background: #FFFFFF;
    border-radius: 40px;
    color: #5C7DBB;
    }
    
    #pin{position: absolute;
    width: 59px;
    height: 17px;
    left: 482px;
    top: 371px;
    
    font-family: 'JejuGothic';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    
    color: #D9D9D9;
    }
    .country{
      position: absolute;
    width: 522px;
    height: 36px;
    left: 46px;
    top: 483px;
    border:none;
    background: #FFFFFF;
    border-radius: 40px;
     color: #5C7DBB;
    }
    
    #country{
      position: absolute;
    width: 61px;
    height: 17px;
    left: 65px;
    top: 461px;
    font-family: 'JejuGothic';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    color: #D9D9D9;
    }
    .email{
    
      position: absolute;
    width: 522px;
    height: 36px;
    left: 45px;
    top: 549px;
    border:none;
    background: #FFFFFF;
    border-radius: 40px;
    color: #5C7DBB;
    }
    
    #email{
      position: absolute;
    width: 105px;
    height: 17px;
    left: 65px;
    top: 525px;
    
    font-family: 'JejuGothic';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    
    color: #D9D9D9;
    }
    img{
      position: absolute;
    width: 491px;
    height: 269px;
    left: 762px;
    top: 32px;
    }
    
    .box{
      position: absolute;
      width: 51.6%;
    height: 653px;
    left: 660px;
    top: -4px;
    
    background: #FFFFFF;
    border-radius: 90px 0px 0px 90px;
    }
    
    p{
    
    
    position: absolute;
    width: 366px;
    height: 67px;
    left: 708px;
    top: 394px;
    
    font-family: 'JejuGothic';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 69px;
    
    color: #5C7DBB;
    }
    button{
      position: absolute;
    width: 350px;
    height: 50px;
    left: 850px;
    top: 565px;
    color: #FFFFFF;
    background: #5C7DBB;
    border-radius: 50px;
    border: none;
    }
    button:hover{
      opacity: 0.7;
      box-shadow: 10px 10px 54px rgb(92, 125, 187);
    }
    
    input{
      font-family: 'JejuGothic';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    
    color: #000000;
    }