body {
  /* background-color: white!important; */
  margin: 0;
  font-family: "Zen Dots", sans-serif !important;
    font-weight: 300;
    font-style: normal;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}



.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
  position: relative
}

.navbar img {
  height: 50px;
  cursor: pointer
}

.navbar-menu {
  display: flex;
  align-items: center
}

.navbar-menu label {
  margin: 0 10px;
  cursor: pointer;
  color: #349184
}



.navbar-menu label:hover {
  margin: 0 10px;
  color: #363f46;
  cursor: pointer;
 border-bottom:2px solid #349184;
}


.navbar-mobile-menu label:hover{
  border-bottom:2px solid #349184;
  cursor: pointer;
}

.navbar-search {
  display: flex;
  align-items: center
}

.navbar-search input {
  padding: 5px
}

.form-control::placeholder{
  color: #363f46!important;
}

.form-control {
  width: 100%;
  padding: 5px;
  margin: 10px 0;
  box-sizing: border-box
}

.navbar-mobile-menu {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
 
}

.navbar-mobile-menu input,
.navbar-mobile-menu label {
  margin: 10px 0;
  color: #349184;
}



.navbar-toggler {
  display: none;
  font-size: 24px;
  cursor: pointer
}



@media (max-width:768px) {
  .navbar-menu label:hover {
      margin: 0 10px;
      color: #363f46;
      cursor: pointer
  }
  .navbar-menu,
  .navbar-search {
      display: none
  }
  .navbar-toggler {
      display: block;
      border-bottom: 1px solid #349184;
      
  }
  .navbar-mobile-menu.open {
      display: flex
  }
}

.carousel-controls {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px
}

#user {
  color: #363f46
}

.icon-control {
  margin-top: 5px;
  float: right;
  font-size: 80%
}

.btn-light {
  background-color: white;
  border-color: #e4e4e4
}

[class*=card-product] a.title {
  color: #212529;
  display: block
}

ul {
  margin: 0;
  padding: 0
}

.footer-section {
  
  position: relative
}

.footer-cta {
  border-bottom: 1px solid #373636
}

.single-cta i {
  color: #363f46;
  font-size: 30px;
  float: left;
  margin-top: 25px
}

.cta-text {
  padding-left: 15px;
  display: inline-block
}

.cta-text h4 {
  color: #363f46;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px
}

.cta-text span {
  color: #757575;
  font-size: 15px
}

.footer-content {
  position: relative;
  z-index: 2
}

.footer-logo {
  margin-bottom: 30px
}

.footer-logo img {
  max-width: 200px
}

.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px
}

.footer-social-icon span {
  color: #363f46;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: Poppins, sans-serif;
  margin-bottom: 20px
}

.footer-social-icon a {
  color: #363f46;
  font-size: 16px;
  margin-right: 15px
}

.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%
}

.facebook-bg {
  background: #3b5998
}

.twitter-bg {
  background: #55acee
}

.google-bg {
  background: #dd4b39
}

.footer-widget-heading h3 {
  color: #363f46;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative
}

.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #363f46
}

.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px
}

.footer-widget ul li a:hover {
  color: #a3c9bc
}

.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize
}

.subscribe-form {
  position: relative;
  overflow: hidden
}

.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: white;
  border: 1px solid #363f46;
  color: #fff
}

.subscribe-form button {
  position: absolute;
  right: 0;
  background: #363f46;
  padding: 14px 20px;
  border: 1px solid #fff;
  top: 0
}

.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg)
}

.footer-menu li {
  display: inline-block;
  margin-left: 20px
}

.footer-menu li:hover a {
  color: #ff5e14
}

.footer-menu li a {
  font-size: 14px;
  color: #878787
}



*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.allc{
  display: flex;
  width: 200px;
}

.card-img-top{
  border-radius: 50px;
  padding: 20px;
}
.card{
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;

}

.pagination{
  text-decoration: none;
}

#page{
  margin: 5px;
  background-color: #363f46;
  width: auto;
  border-radius: 20px;
  width: 25px;
  text-align: center;
  color: white;
}

.card-body {
  padding: 25px;
  color: #363f46 !important;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 1; /* Initially fully visible */
}


.btn-slideshow{
  color: white!important;
  background-color: #363f46!important ;
}

.btn-2{
  border:1px solid  #a3c9bc!important;
  background-color: white;
}

.btn-2:hover{
  background-color: #363f46!important;
  color: white!important;
transform: scale(1.1);
}

.btn{
  border-radius: 50px;

}
.btn-slideshow:hover{
  background-color: white!important;
  color: #363f46!important;
  border: none;
  transform: scale(1.1);
}
h3,h5{
  color: rgb(0, 91, 228);
}


#add{
  /* background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%); */
border: none;
color: white;
border-radius: 30px;
}

#star{
  color: gold!important;
}

#loc-search{
  color:#363f46;
 position: absolute;

}



/* modal */

@media screen and (max-width: 768px) {
#myBtn{
  font-size: 13px;
}
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


@media (width:"768px") {
 .modal-content{
  width: 100%  !important;
 } 
}

.modal-content {
  background-color: white;
  margin: auto; /* Centered */
  padding: 20px;
  border: 1px solid #888;
  width: 75% !important; /* Adjust width as needed */
  max-height: 80%; /* Adjust height as needed */
  overflow: hidden;
  margin-top: 100px;
}

.locations {
  max-height: 300px; /* Adjust this value as needed */
  overflow-y: auto;
}

.locations label {
  display: block;
  padding: 10px;
  cursor: pointer;
}

.close {
  color: #363f46;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  right: 10px;
  top: 10px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#location {
  margin-bottom: 20px;
}

#loc-icon {
  margin-right: 20px;
}

.p-img{
  height: 150px!important;
}

/* modal */

/* modal */

img{
  mix-blend-mode: multiply;
}