


body{
    background: #6C95FF;

    
}

.h1{
    position: absolute;
    width: 331px;
    height: 83px;
    left: 70px;
    top: 115px;
    font-family: 'cursive';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 83px;
    color: #FFFFFF;
}

.user{
    position: absolute;
    width: 120px;
    height: 30px;
    left: 79px;
    top: 227px;
    font-family: 'cursive';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    color: #FFFFFF;
}


.username{       
   
    border: none;
    background: none;
    box-shadow: 0px 2px 0px 0px white;
    width: 23%;
    color: #D9D9D9;
    font-size: 1em;
    position: absolute;
    outline: none;
    bottom: 355px;
    left: 83px;

}

.pass{
    position: absolute;
    width: 115px;
    height: 30px;
    left: 79px;
    top: 306px;
    font-family: 'cursive';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    color: #FFFFFF;
}

.password{
    border: none;
    background: none;
    box-shadow: 0px 2px 0px 0px white;
    width: 23%;
    color: #D9D9D9;
    font-size: 1em;
    position: absolute;
    outline: none;
    bottom: 273px;
    left: 83px;
}


.login{
    position: absolute;
    width: 335px;
    height: 48px;
    left: 73px;
    top: 419px;
    background: #D9D9D9;
    border-radius: 10px;
    border: #6C95FF;
    font-family: 'cursive';
    color: #6C95FF;
    font-size: 15px;
}
.login:hover{
        opacity: 0.7;
        box-shadow: 10px 10px 54px #5c7dbb;   
}

.a{
    position: absolute;
width: 483px;
height: 0px;
left: 173px;
top: 524px;

border: 3px solid #FFC42A;
}
.b{
    position: absolute;
width: 483px;
height: 0px;
left: 173px;
top: 643px;

border: 3px solid #FFFFFF;
}


.forget{
    position: absolute;
    width: 195px;
    height: 28px;
    left: 236px;
    top: 383px;
    font-family: 'cursive';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}


.man{
    position: absolute;
    width: 153px;
    height: 146px;
    left: 121px;
    top: 9px;
    background: url(.png);
}
.rect{
    position: absolute;
    width: 694.59px;
    height: 634px;
    left: 614.41px;
    top: 15px;
}


    .box {
        box-shadow: 0px 0px 50px 5px;
        background-color: #ffffff;
        width: 40%;
        height: 100%;
        position: absolute;
        right: 0px;
        top:0px;
        box-sizing: border-box;
        border: 5px solid white;
}

.bulb{
    position: absolute;
    width: 131px;
    height: 177px;
    right: 190px;
    background: url(.png);
  }
  
  
  .rectangle{
    position: absolute;
    width: 380px;
    height: 376px;
    left: 960px;
    top: 257px;
    background: url(.png);
  }


  .sign{
    position: absolute;
    width: 335px;
    height: 48px;
    left: 73px;
    top: 556px;
    background: #D9D9D9;
    border-radius: 10px;
    border: #6C95FF;
    font-family: 'cursive';
    color: #6C95FF;
    font-size: 15px;
}

.sign:hover{
    opacity: 0.7;
    box-shadow: 10px 10px 54px #5c7dbb; 
}
  

.or{
    position: absolute;
    bottom: 104px;
    left: 228px;
    color: white;
}

.ac {
    position: absolute;
    width: 335px;
    height: 48px;
    left: 73px;
    top: 485px;
    background: #D9D9D9;
    border-radius: 10px;
    border: #6C95FF;
    font-family: 'cursive';
    color: #6C95FF;
    font-size: 15px;
    font-style: normal;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.ac:hover{
    opacity: 0.7;
    box-shadow: 10px 10px 54px #5c7dbb; 
}
/* 2nd */


