
body{
    background: #6C95FF;
}


.user{
    position: absolute;
    width: 120px;
    height: 30px;
    left: 79px;
    top: 196px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 30px;
    color: #FFFFFF;
}


.username{
    border: none;
    background: none;
    box-shadow: 0px 2px 0px 0px white;
    width: 23%;
    color: #D9D9D9;
    font-size: 1em;
    position: absolute;
    outline: none;
    bottom: 396px;
    left: 83px;
}
.username:hover{
    opacity: 0.7;
    box-shadow: 10px 10px 54px #5c7dbb; 
    border: none;
    background: none;
    box-shadow: 0px 2px 0px 0px white;
    width: 23%;
    color: #D9D9D9;
    font-size: 1em;
    position: absolute;
    outline: none;
    bottom: 396px;
    left: 83px;   
}


.pass{
    position: absolute;
    width: 115px;
    height: 30px;
    left: 79px;
    top: 266px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 30px;
    color: #FFFFFF;
}

.password{
    border: none;
    background: none;
    box-shadow: 0px 2px 0px 0px white;
    width: 23%;
    color: #D9D9D9;
    font-size: 1em;
    position: absolute;
    outline: none;
    bottom: 321px;
    left: 83px
}

.password:hover{
    opacity: 0.7;
    box-shadow: 10px 10px 54px #5c7dbb;
    border: none;
    background: none;
    box-shadow: 0px 2px 0px 0px white;
    width: 23%;
    color: #D9D9D9;
    font-size: 1em;
    position: absolute;
    outline: none;
    bottom: 321px;
    left: 83px
}

.man{
    position: absolute;
    width: 153px;
    height: 146px;
    left: 107px;
    top: 9px;
    background: url(.png);
}


.cpass{
    position: absolute;
    width: 231px;
    height: 30px;
    left: 79px;
    top: 342px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
}

.cpassword{
    border: none;
    background: none;
    box-shadow: 0px 2px 0px 0px white;
    width: 23%;
    color: #D9D9D9;
    font-size: 1em;
    position: absolute;
    outline: none;
    bottom: 244px;
    left: 83px;
}

.cpassword:hover{
    border: none;
    background: none;
    box-shadow: 0px 2px 0px 0px white;
    width: 23%;
    color: #D9D9D9;
    font-size: 1em;
    position: absolute;
    outline: none;
    bottom: 244px;
    left: 83px;
    opacity: 0.7;
    box-shadow: 10px 10px 54px #5c7dbb;
}


.email{
    position: absolute;
    width: 231px;
    height: 30px;
    left: 79px;
    top: 420px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
}

.email1{
    border: none;
    background: none;
    box-shadow: 0px 2px 0px 0px white;
    width: 23%;
    color: D9D9D9;
    font-size: 1em;
    position: absolute;
    outline: none;
    bottom: 160px;
    left: 83px;
}

.email1:hover{
    opacity: 0.7;
    box-shadow: 10px 10px 54px #5c7dbb;
    border: none;
    background: none;
    box-shadow: 0px 2px 0px 0px white;
    width: 23%;
    color: D9D9D9;
    font-size: 1em;
    position: absolute;
    outline: none;
    bottom: 160px;
    left: 83px;
}

.sign{
    position: absolute;
    width: 335px;
    height: 48px;
    left: 73px;
    top: 530px;
    background: #D9D9D9;
    border-radius: 10px;
    border: #6C95FF;
    font-family: 'cursive';
    color: #6C95FF;
    font-size: 15px;
}

.sign:hover{
    opacity: 0.7;
    box-shadow: 10px 10px 54px #5c7dbb; 
}


.box {
    box-shadow: 0px 0px 50px 5px;
    background-color: #ffffff;
    width: 40%;
    height: 100%;
    position: absolute;
    right: 0px;
    top:0px;
    box-sizing: border-box;
    border: 5px solid white;
}

.pic1{
    position: absolute;
    width: 345px;
    height: 472px;
    left: 903px;
    top: 130px;
    background: url(.png)
}

h1{
    position: absolute;
    width: 331px;
    height: 83px;
    left: 75px;
    top: 106px;
    font-family: 'cursive';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 83px;
    color: #FFFFFF;
}
