

.sign{
  border:1px solid black!important ;
}


  .bulb {
    margin-left: 90px;
   
    height: 150px;
  }

  .man {
  height: 400px;
  width: 220px;
  position: relative;
  left: 0;
  }

  .sign,
  .login {
    background-color: #363f46;

    color: white;
  }


  .sign,
  .login:hover {
    background-color: white;
    border: 1px solid white;
    color: #363f46;
  }


  .forget:hover {
    color: #363f46;
  }

  .ac:hover{
    color: #363f46;
  }

  .sec{
    margin-top:150px;
  }