
body {
  background: #C9D6FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  margin: 0;
  font-family: "Zen Dots", sans-serif !important;
    font-weight: 300;
    font-style: normal;
  }


.sign{
  border:1px solid black!important ;
}


  .bulb {
    margin-left: 90px;

    height: 150px;
  }

  .man {
    margin-top: 50px;
  }

  .sign,
  .login {
    background-color: #363f46;

    color: white;
  }


  .sign,
  .login:hover {
    background-color: white;
    border: 1px solid white;
    color: #363f46;
  }


  .forget:hover {
    color: #363f46;
  }

  .ac:hover{
    color: #363f46;
  }